{% if section.settings.enable_search %}
  <div class="header-search">
    <button type="button" 
            class="search-toggle" 
            aria-label="{{ 'general.search.toggle' | t }}"
            data-search-toggle>
      {% render 'icon-search' %}
    </button>
    
    <div class="search-modal" data-search-modal>
      <div class="search-modal__content">
        <div class="container">
          {% render 'search-bar' %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
